documentation/html
documentation/latex
script/__pycache__/
data/tests/__pycache__/
data/real_data/
data/tests/.~lock.test_files.odp#
results/
data/time_tests/
benchmark*
time_test.txt
data/lrrtransfer_tests/
script/python_util/__pycache__/
script/tests/__pycache__/
