documentation/html
documentation/latex
__pycache__/
data/real_data/
data/tests/.~lock.test_files.odp#
results/
data/time_tests/
benchmark*
time_test.txt
data/lrrtransfer_tests/
.pytest_cache/
.vscode*
*.egg-info/
build/
dist/
.venv/
.env/
.pixi/
*.py[cod]
