# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install package (dev)
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev]

    - name: Lint with ruff
      run: |
        python -m ruff check . --select E,F --ignore E501,F401

    - name: Run tests
      run: |
        python -m pytest -v

    - name: Build package
      run: |
        python -m build

    - name: Check package metadata
      run: |
        python -m twine check dist/*
